body {
  background-color: #F0F2F5;
  margin: 0;
  font-size: 1.4em;
}

.nav {
  background-color: #FFFFFF;
}

.nav-image {
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
}

.logo {
  margin-left: 1em;
}

.logo>a {
  font-size: 3em;
  vertical-align: middle;
}

.fa-search {
  position: relative;
  left: 2em;
  color: #808080;
}

.logo>input {
  vertical-align: middle;
  width: 18em;
  height: 3em;
  padding: 0em 0em 0em 2em;
  border-radius: 2em;
  border: none;
  background-color:#F0F2F5;
}

.primary-nav-links {
  margin-left: 8em;
}

.primary-nav-links>a{
  vertical-align: middle;
  padding: 0.68em 2.1em;
  margin: 0 0.15em;
  color: black;
  font-size: 1.5em;
}

.primary-nav-links>a:hover {
  background-color: #F0F2F5;
  border-radius: 0.5em;
}

.secondary-nav-links {
  margin-left: 5em;
}

.icon-links>a {
  color: #000000;
  margin: 0.1em;
  font-size: 1.2em;
  padding: 0.7em;
  background-color: #F0F2F5;
  border-radius: 25em;
}

.image-link{
  padding: 0.8em 0.8em 0.8em 0.5em;
  margin-right: 1em;
  font-weight: bold;
  color: #000000;
  background-color: #F0F2F5;
  border-radius: 25em;
}
