
.main-content { 
  margin: auto;
  height: auto;
}

.user-profile {
  padding: 1em;
  height: auto;
  border-bottom: 1px solid #E4E6EB;
}

.user-profile>input {
  width: 90%;
  padding: 0.8em 4em 0.8em 1em;
  border-radius: 2em;
  border: none;
  background-color:#F0F2F5;
}

.profile-photo {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile>p {
  margin-top: 0.5em;
}

.options {
  margin-top: 1em;
}

.options>a {
  padding: 0.8em 1em 0.8em 1em;
  margin-left: 1em;
  border-radius: 0.5em;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}

.options>a:hover {
  background-color:#F0F2F5;
}

.options>a i {
  color: #0000ff;
  vertical-align: middle;
}

.item {
  margin-top: 1em;
  margin-bottom: 1em;
  height: auto;
  background-color: #fff;
  border-radius: 0.5em;
}

.add-photo {
  width: 35em;
  height: 35em;
  object-fit: cover;
}

.main-content:hover {
  margin-top: 0;
  height: 42em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user {
  margin-top: 0.2em;
}

.user>a {
  padding: 0.5em 1em 0.5em 1em;
}