.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 5em;
  position: fixed;
}

.side-nav {
  width: 25em;
}

.side-nav>a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.side-nav>a i {
  margin-right: 1em;
  color: #0000ff;
}

.material-icons {
  vertical-align: middle;
  margin-right: 0.5em !important;
  font-size: 1.3em;
}

.side-nav>a:hover {
  background-color: #E8EAED;
  border-radius: 0.5em;
}

.user-options {
  height: 9em;
  background-color: #fff;
  border-radius: 0.5em;
}

.user {
  border-top: 1px solid #e4e6eb;
  margin-top: 0.3em;
  padding: 0.7em 2em 0.7em 2em;
}

.user>a {
  padding: 0.4em 1em 0.4em 1em;
  font-size: 1.2em;
}

.user>a i {
  margin-right: 0.5em;
  vertical-align: middle;
}

#contact {
  font-size: 1.5em;
}

.left-side-nav:hover {
  height: 42em;
  width: 25em;
  overflow-y: scroll;
  overflow-x: hidden;
}
