@media screen and (max-width: 1024px) {	
  .nav {
    height: 4em;
  }

  .fa-search {
    position: relative;
    right: 0em;
    top: 0em;
  }

  .item:last-child {
    margin-bottom: 10em;
  }

  .logo {
    font-size: 1.5em;
  }

  .logo>a {
    font-size: 2em;
  }

  .logo>input {
    width: 2em;
    height: 2em;
  }

  .logo>input::placeholder {
    opacity: 0;
  }

  .image-link {
    display: none;
  }

  .primary-nav-links {
    margin-left: 14em;
  }

  .primary-nav-links>a{
    padding: 0.5em 1em;
    margin: 0.5em;
  }

  .secondary-nav-links {
    margin-left: 7em;
  }

  .fa-search {
    font-size: 1em;
    left: 1.8em;
  }

  .left-side-nav {
    display: none;
  }

  .grid-container {
    grid-template-columns: 2fr 1fr;
  }

  #modal-content{
    top: 4em;
  }
}

@media screen and (max-width: 768px) {	
  .fa-search {
    display: none;
  }

  .logo>input::placeholder {
    opacity: 1;
    font-size: 0.5em;
  }

  .logo>input {
    width: 7em;
    height: 1.5em;
    padding: 0 0 0 1em;
  }

  .primary-nav-links {
    margin-left: 2em;
  }

  .primary-nav-links>a {
    padding: 0.5em 0.7em;
    margin: 0;
  }

  .secondary-nav-links {
    margin-left: 2em;
  }

  .nav {
    height: 4.8em;
  }

  .right-side-nav {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
    position: relative;
  }

  .main-content { 
    width: 100%;
    background-color: #F0F2F5;
  }

  .main-content>div {
    width: 35em;
    margin: auto;
    height: auto;
    margin-top: 1em;
  }

  .options {
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 425px) {
  .top-nav {
    height: 5em;
  }

  .logo {
    font-size: 3em;
    margin-left: 0.1em;
  }

  .search-input input {
    width: 12em;
    height: 3em;
    padding: 0em 0em 0em 1.5em;
  }

  .secondary-nav-links {
    font-size: 0.9em;
    margin-left: 5em;
  }

  .left-side-nav {
    display: none;
  }

  #open-right-nav-modal,
  #close-right-nav-modal {
    padding: 1em 0.8em;
  }
  
   .primary-nav-links {
    display: none;
  }

  .grid-container {
    left: 0em;
    grid-template-columns: 2fr;
    width: 100%;
  }

  .chat-options {
    height: 3em;
  }

  .user-content p,
  .user-content strong {
    font-size: 1.3em;
  }

  #dropdown-content {
   margin-top: 1em;
  } 

  .dark-theme .main-content {
    background-color: #18191A;
  }
}
