.grid-container {
  position: absolute;
  left: 22em;
  top: 7em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 75%;
}

.main-content { 
  margin: 0 auto;
  height: auto;
  width: 75%;
}

.user-options {
  height: 9em;
  background-color: #fff;
  border-radius: 0.5em;
}

.user-profile {
  padding: 1em;
  height: auto;
  border-bottom: 1px solid #E4E6EB;
}

.user-profile>textarea {
  width: 80%;
  height: 2.5em;
  font-size: 1.3em;
  vertical-align: middle;
  padding: 0.58em 1em;
  border-radius: 2em;
  border: none;
  background-color:#F0F2F5;
  resize: none;
  cursor: pointer;
}

.profile-photo {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.8em;
}

.user-profile>p {
  margin-top: 0.5em;
  font-size: 1.2em;
}

.chat-options {
  margin-top: 1em;
}

.chat-options a {
  padding: 0.8em 1em 0.8em 1em;
  margin-left: 1em;
  border-radius: 0.5em;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}

.chat-options a:hover {
  background-color:#F0F2F5;
}

.chat-options a i {
  color: #1877F2;
  vertical-align: bottom;
  margin-right: 0.3em;
}

.chat-options a:nth-child(2) i {
  font-size: 1.3em;
  vertical-align: baseline;
}

.user-content {
  margin: 1em 0;
  height: auto;
  background-color: #fff;
  border-radius: 0.5em;
}

.add-photo {
  width: 100%;
  height: 35em;
  object-fit: cover;
  margin-bottom: 1.5em;
}

.tweet-options a {
  color: #7B7C80;
  font-size: 1.2em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 0.5em;
  margin: 0 0.5em;
  text-decoration: none;
}

.tweet-options {
 height: 3em;
}

.tweet-options a i {
  margin-right: 0.5em;
  color: #337AB7;
}

.tweet-options a:hover {
  background-color:#F0F2F5;
}

#createPostOverlay {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1; 
  width: 100%; 
  height: 100%; 
  background-color: #f3f3f48a; 
}

.create-post-modal {
  display: none;
  position: fixed;
  left: 28em;
  top: 7em;
  margin: auto;
  width: 36.2em;
  height: auto;
  z-index: 1;
  background-color: #fff;
  border-radius: 0.5em;
}

#createPost {
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.5em;
}

#closePostButton {
  position: relative;
  left: 7.5em;
  border: unset;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
}

#userInfo {
  margin: 1em 2em 0 2em;
}

#userPostInput {
  margin: 1em 0 2.5em 1.3em;
  width: 90%;
  height: auto;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 1.5em;
}

#userPostButton {
  width: 90%;
  background-color: #1877F2;
  height: 3em;
  border: unset;
  color: #fff;
  border-radius: 0.5em;
  font-weight: 600;
  margin: 0 2em 1.3em 2em;
}

#addPhoto {
  display: none;
}

#userPhoto {
  height: 28em;
  object-fit: cover;
  border-radius: 0.5em;
}

.post-options {
  padding: 0.5em 0;
  border: 2px solid #CED0D4;
  border-radius: 0.5em;
  margin: 1em 2em 1em 2em;
}

.post-options>span {
  font-weight: 600;
  margin-left: 1.5em;
}

.post-options>label {
  color: #1877F2; 
  vertical-align: middle;
  margin-left: 10em;
  margin-right: 1em;
}

.post-options>a {
  text-decoration: none;
  margin-right: 1em;
}

#previewEntry {
  height: 15em;
  width: 36em;
  overflow-y: scroll;
  overflow-x: hidden;
}

#previewImageButton {
  position: relative;
  bottom: 11em;
  left: 31em;
  border: unset;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  background-color: #fff;
  color: #7A8087;
  font-weight: 500;
  transform: scale(1.3);
}

#userPhoto {
  width: 90%;
  border-radius: 0.5em;
}

#userTagIcon {
  font-size: 1.5em;
  color: #1877F2; 
  vertical-align: middle;
}

#smilyFaceIcon {
  color: #1877F2; 
  vertical-align: middle;
  font-size: 2em;
}

#photoIcon {
  font-size: 2em;
  vertical-align: middle;
}

#previewEntry::-webkit-scrollbar {
  width: 10px;
}

#previewEntry::-webkit-scrollbar-track {
  background: #fff;
}

#previewEntry::-webkit-scrollbar-thumb {
  background: #BCC0C4; 
  border-radius: 0.5em;
}

.delete-post {
  position: relative;
  left: 16em;
  width: 2em;
  height: 2em;
  border: unset;
  font-weight: 700;
  border-radius: 50%;
}

.post-entry {
  font-size: 1.2em;
}

.post-entry>p {
  margin: 0.5em 0 0 0;
}
