.dark-theme {
  color: #fff;
}

.dark-theme .left-side-nav a,
.dark-theme .contact-list a {
  color: #E4E6EB;
}

.dark-theme .left-side-nav a:hover,
.dark-theme .contact-list a:hover {
  background-color: #303031;
}

.dark-theme .user-options {
  background-color: #242526;
}

.dark-theme .user-profile {
  border-bottom: 1px solid #3A3B3C;
}

.dark-theme .user-profile>input {
  background-color:#3A3B3C;
}

.dark-theme .chat-options a,
.dark-theme .tweet-options a {
  color: #E4E6EB;
}

.dark-theme .chat-options a:hover,
.dark-theme .tweet-options a:hover {
  background-color: #303031;
}

.dark-theme .user-content {
  background-color: #242526;
}

.dark-theme .user-profile>textarea {
  background-color: #3A3B3C;
  color: #E4E6EB;
}

.dark-theme .user-profile>textarea::placeholder,
.dark-theme .search-input input::placeholder {
  color: #B0B3B8;
}

.dark-theme .top-nav {
  background-color: #242526;
}

.dark-theme .search-input i {
  color: #B0B3B8;
}

.dark-theme .search-input input {
  background-color:#3A3B3C;
}

.dark-theme .primary-nav-links>a{
  color: #B0B3B8;
}

.dark-theme .primary-nav-links>a:hover,
.dark-theme .secondary-nav-links a:hover {
  background-color: #303031;
}

.dark-theme .secondary-nav-links a {
  background-color: #3A3B3C;
  color: #E4E6EB;
}

.dark-theme #open-nav-dropdown {
  color: #E4E6EB;
  background-color: #3A3B3C;
}

.dark-theme #close-nav-dropdown {
  color: #0000ff;
  background-color: #3A3B3C;
}

.dark-theme #dropdown-content {
  background-color: #242526;
}

.dark-theme #dropdown-content>a {
  background-color: #242526;
  color: #E4E6EB;
}

.dark-theme #dropdown-content>a:hover {
  background-color: #303031;
}

.dark-theme #dropdown-content>a i {
  color: #B1B4B7;
}

.dark-theme .logo {
  color: #dee0e2;
}
