.dark-theme {
  color: #E4E6EB;
}

.dark-theme .left-side-nav a,
.dark-theme .contact-list a {
  color: #E4E6EB;
}

.dark-theme .left-side-nav a:hover,
.dark-theme .contact-list a:hover {
  background-color: #303031;
}

.dark-theme .user-options {
  background-color: #242526;
}

.dark-theme .user-profile {
  border-bottom: 1px solid #3A3B3C;
}

.dark-theme #postInput {
  background-color:#3A3B3C;
}

.dark-theme .chat-options a,
.dark-theme .tweet-options a {
  color: #E4E6EB;
}

.dark-theme .chat-options a:hover,
.dark-theme .tweet-options a:hover {
  background-color: #303031;
}

.dark-theme .top-nav {
  background-color: #242526;
  border-bottom: 1px solid #393A3B;
}

.dark-theme .search-input i {
  color: #B0B3B8;
}

.dark-theme .search-input input {
  background-color:#3A3B3C;
}

.dark-theme .primary-nav-links>a{
  color: #B0B3B8;
}

.dark-theme .primary-nav-links>a:hover,
.dark-theme .secondary-nav-links a:hover {
  background-color: #303031;
}

.dark-theme .secondary-nav-links a {
  background-color: #3A3B3C;
  color: #E4E6EB;
}

.dark-theme #open-nav-dropdown {
  color: #E4E6EB;
  background-color: #3A3B3C;
}

.dark-theme #close-nav-dropdown {
  color: #0000ff;
  background-color: #3A3B3C;
}

.dark-theme #dropdown-content {
  background-color: #242526;
}

.dark-theme #dropdown-content>a {
  background-color: #242526;
  color: #E4E6EB;
}

.dark-theme #dropdown-content>a:hover {
  background-color: #303031;
}

.dark-theme #dropdown-content>a i {
  color: #B1B4B7;
}

.dark-theme .profile-info:hover {
  background-color: #303031;
}

.dark-theme .profile-info {
  color: #E4E6EB;
}

.dark-theme #dropdown-content>hr {
  border: 1px solid #3E4042;
}

.dark-theme .logo {
  color: #dee0e2;
}

.dark-theme #createPostOverlay {
  background-color: #0e0e0e9d; 
}

.dark-theme .create-post-modal {
  background-color: #242526;
}

.dark-theme #createPost {
  border-bottom: 1px solid #3A3B3C;
  color: #E4E6EB;
}

.dark-theme #closePostButton {
  background-color: #3A3B3C;
}

.dark-theme #userPostInput {
  background-color: #242526;
}

.dark-theme .post-options {
  border: 1.5px solid #3A3B3C;
  box-shadow: 0 0.1em 0.5em 0 #3A3B3C;
}

.dark-theme #previewImageButton {
  background-color: #3A3B3C;
}

.dark-theme #previewEntry::-webkit-scrollbar-track {
  background: #242526;
}

.dark-theme #previewEntry::-webkit-scrollbar-thumb {
  background: #666768; 
}

.dark-theme #userPostButton {
  background-color: #505151;
}

.dark-theme #dropdown-overlay {
  background-color: #0e0e0e9d; 
}

.dark-theme .post-container {
  background-color: #242526;
}

.dark-theme .display-options-button {
  background-color: #505151;
}

.dark-theme .post-item-options {
  background-color: #242526;
}

.dark-theme .post-item-options button {
  background-color: #505151;
}

.dark-theme .edit-post-modal {
  background-color: #242526;
}

.dark-theme .edit-post {
  border-bottom: 1px solid #3A3B3C;
}

.dark-theme .save-text-button {
  background-color: #505151;
}

.dark-theme .close-edit-modal {
  background-color: #505151;
}

.dark-theme .edit-profile-modal {
  background-color: #242526;
}

.dark-theme #editPhotoButton {
  background-color: #505151;
}

.dark-theme #editPhoto {
  background-color: #787979;
}

.dark-theme #profileInput {
  background-color: #3A3B3C;
  color: #E4E6EB;
}
