@media screen and (max-width: 768px) {	
  .top-nav {
    height: 6em;
  }

  .logo {
    font-size: 4em;
    margin-left: 0.1em;
  }

  .fa-search {
    display: none;
  }

  .search-input input {
    width: 10em;
    height: 4em;
    padding-left: 0.8em;
  }

  .primary-nav-links {
    margin-left: 0.5em;
  }

  .primary-nav-links>a {
    padding: 0.5em 0.7em;
    margin: 0.2em;
  }

  .image-link {
    display: none;
  }

  .secondary-nav-links {
    font-size: 1.2em;
    margin-left: 1em;
  }

  .left-side-nav {
    display: none;
  }

  .grid-container {
    left: 0;
    top: 7.5em;
    grid-template-columns: 2fr;
    width: 100%;
  }

  .right-side-nav {
    display: none;
  }

  #dropdown-content {
    margin-top: 1.8em;
  } 

  #dropdown-content a:not(:first-child) {
    font-size: 1.2em;
  }

  .tweet-options>a {
    font-size: 1.5em;
    margin: 0;
  }
  
  #dropdown-content>a:nth-child(6) {
    padding: 1.2em 1em 0;
    height: 3.5em; 
  }

  .switch {
    margin: 0 5em;
    bottom: 1.8em;
  }
}

@media screen and (max-width: 425px) {
  .top-nav {
    height: 5em;
  }

  .image-link {
    display: none;
  }

  .logo {
    font-size: 3em;
    margin-left: 0.1em;
  }

  .search-input input {
    width: 10em;
    height: 4em;
    padding-left: 0.8em;
  }

  .secondary-nav-links {
    font-size: 1em;
    margin-left: 0.5em;
  }

  .left-side-nav {
    display: none;
  }

  #open-right-nav-modal,
  #close-right-nav-modal {
    padding: 1em 0.8em;
  }
  
  .primary-nav-links {
    display: none;
  }

  .grid-container {
    left: 0;
    top: 5.5em;
  }

  .main-content {
    width: 100%;
  }

  .chat-options {
    height: 3em;
  }

  .chat-options a {
    padding: 0.8em 0.5em;
    margin-left: 0.5em;
  }

  .user-profile>textarea {
    font-size: 1.1em;
  }

  .user-content p,
  .user-content strong {
    font-size: 1.3em;
  }

  #dropdown-content {
    margin-top: 0.5em;
  } 

  .tweet-options>a {
    font-size: 1.2em;
  }

  #dropdown-content a:not(:first-child) {
    font-size: 1em;
  }

  #dropdown-content>a:nth-child(6) {
    padding: 1.2em 1em 0;
    height: 3.5em; 
  }

  .switch {
    margin: 0 8em;
    bottom: 1.8em;
  }

  .dark-theme .main-content {
    background-color: #18191A;
  }
}

@media screen and (max-width: 375px) {
  .search-input input {
    width: 7em;
    height: 3em;
  }

  .tweet-options>a {
    font-size: 1.1em;
  }

  .chat-options a {
    padding: 0.8em 0.2em;
    margin-left: 0;
  }

  #dropdown-content {
    left: 2em;
  }

  .switch {
    margin: 0 8em;
    bottom: 2em;
  }
}
