@media screen and (max-width: 425px) {
  .left-side-nav {
    display: none;
  }
  
  .right-side-nav {
    display: none;
  }
  
  .primary-nav-links {
    display: none;
  }

  .image-link {
    display: none;
  } 

  .top-nav {
    height: 5em;
    font-size: 1em;
  }

  .grid-container {
    left: 0em;
    top: 7em;
    display: block;
    grid-template-columns: 2fr;
    width: 100%;
    overflow-x: hidden;
  }
  
  .main-content { 
    margin: 0;
    height: auto;
    width: 100%;
  }

  .output {
    width: 100%;
  }

  .logo {
    margin-left: 0.1em;
  }

  .search-input input {
    width: 10em;
    height: 3em;
    padding-left: 0.8em;
  }

  .secondary-nav-links {
    margin-left: 0.5em;
  }

  .chat-options a {
    padding: 0.8em 0.5em;
    margin-left: 0.5em;
  }

  #dropdown-content {
    margin-top: 0.5em;
  } 

  #dropdown-content>a:nth-child(6) {
    padding: 1.2em 1em 0;
    height: 3.5em; 
  }

  .switch {
    margin: 0 8em;
    bottom: 1.8em;
  } 

  .search-input>i {
    display: none;
  }

  .tweet-options a {
    margin: 0;
  }
  
  .tweet-options {
    margin-left: 1em;
  }

  .edit-profile-modal {
    width: 30.5em;
    height: 22em;
  }

  .edit-profile-modal>h3{
    margin: 0.5em;
  }

  .profile-entry {
    font-size: 0.8em;
    width: 35em;
  }

  #photo {
    margin: 0 1.5em;
  }

  .create-post-modal {
    left: 0;
    font-size: 0.85em;
    top: 7em;
  } 

  .edit-post-buttons {
    left: 6em;
  }

  .edit-post-modal {
    left: 0em;
    width: 30.5em;
  }

  .close-edit-modal {
    left: 6em;
  }
}

@media screen and (max-width: 375px) {
  .search-input input {
    width: 7em;
  }

  .tweet-options>a {
    font-size: 1.15em;
  }

  .chat-options a {
    padding: 0.2em 0em;
  }

  #dropdown-content {
    left: 2em;
  }

  .create-post-modal {
    font-size: 0.78em;
    top: 9em;
  }

  .edit-post-buttons {
    left: 3em;
  }
}

@media screen and (max-width: 355px) and (min-width: 320px) { 
  .search-input input {
    width: 5em;
  }

  .secondary-nav-links a {
    font-size: 1em;
    padding: 0.5em 0.8em;
  }

  #open-nav-dropdown,
  #close-nav-dropdown {
    font-size: 1em;
    padding: 0.5em 0.8em;
  }

  .tweet-options>a {
    padding: 0.5em 0.8em;
  }

  .chat-options a {
    padding: 0.5em;
    margin: 1em;
  }

  .chat-options a:last-child {
    display: none;
  }

  #dropdown-content {
    left: 0;
  }

  .switch {
    left: 7em;
  }

  .create-post-modal {
    font-size: 0.65em;
    top: 10em;
  }

  .edit-post-buttons {
    left: 0em;
  }

  .edit-post-modal {
    left: 0em;
    top: 10em;
    font-size: 0.75em;
  }

  .edit-profile-modal {
    font-size: 0.75em;
    top: 10em;
  }
}
