body {
  background-color: #F0F2F5;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-family: "Segoe UI", "Segoe UI Historic", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.top-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 4.5em;
  padding: 0.5em;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2); 
}

.nav-image {
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
  background: #000000;
}

.logo {
  margin-left: 0.5em;
  font-size: 3em;
  border-radius: 1em;
  vertical-align: middle;
  color: #1877F2;
}

.search-input>i {
  position: absolute;
  left: 6em;
  top: 2.1em;
  color: #808080;
}

.search-input input {
  margin: 0;
  vertical-align: middle;
  width: 18em;
  height: 3em;
  padding: 0em 0em 0em 2.5em;
  border-radius: 2em;
  border: none;
  background-color:#F0F2F5;
}

.primary-nav-links {
  margin-left: 6em;
}

.primary-nav-links>a{
  vertical-align: middle;
  padding: 0.4em 2em;
  margin: 0 0.15em;
  color: black;
  font-size: 1.5em;
}

.primary-nav-links>a:hover {
  background-color: #F0F2F5;
  border-radius: 0.5em;
}

.secondary-nav-links {
  margin-left: 4em;
}

.icon-link {
  color: #000000;
  margin: 0.1em;
  font-size: 1.2em;
  padding: 0.8em;
  background-color: #F0F2F5;
  border-radius: 5em;
}

.image-link {
  padding: 0.8em 0.8em 0.8em 0.5em;
  margin-right: 1em;
  color: #000000;
  background-color: #F0F2F5;
  border-radius: 25em;
  text-decoration: none !important;
}

#close-nav-dropdown {
  display: none;
  border-radius: 50%;
  padding: 0.8em 1em;
  color: #000000;
  margin: 0.1em;
  background-color: #F0F2F5;
}

#open-nav-dropdown>i,
#close-nav-dropdown>i {
  font-size: 1.5em;
  vertical-align: middle;
}

#open-nav-dropdown {
  display: inline-block;
  border-radius: 50%;
  padding: 0.8em 1em;
  color: #000000;
  margin: 0.1em;
  background-color: #F0F2F5;
}

#close-nav-dropdown:active,
#open-nav-dropdown:active {
  transform: translateY(4px);
  background-color: #E7F3FF;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  left: 9em;
  display: inline-block;
  width: 55px;
  height: 30px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1877F2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1877F2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4.2em;
  width: 30%;
  padding: 1em 0;
  color: #000;
  text-align: center;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #8ED0F9;
  z-index: 1;
}

@keyframes slide {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.info>strong {
  font-size: 1.2em;
  margin-right: 2em;
}

.message-btn {
  border: unset;
  border-radius: 1.8em;
  font-weight: 700;
  width: 4em;
  height: 2em;
}
